.title {
  color: #ffffff;
  font-size: 64px;
  text-align: center;
  text-transform: uppercase;
  max-width: 1000px;
}

.homePage {
  background: linear-gradient(
      214deg,
      rgba(0, 0, 0, 0.6) 0%,
      rgba(64, 64, 68, 0.5) 35%,
      rgba(64, 64, 64, 0.6) 100%
    ),
    url("../../images/iphone.jpg");
  background-size: cover;
  background-position: center;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.button {
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 20px;
  --bg: #000;
  --hover-bg: #000;
  --hover-text: #000;
  color: #fff;
  border: 1px solid var(--bg);
  background: var(--color-dark-purple);
  transition: 0.2s;
  &:hover {
    transform: translate(-0.25rem, -0.25rem);
    background: var(--color-purple);
    box-shadow: 0.25rem 0.25rem var(--bg);
  }
  &:active {
    transform: translate(0);
    box-shadow: none;
  }
}
